@import url("./_active/header__lang-link_active.css");

.header__lang-link{
    width: 22px;
    padding: 14px 0px 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
}

@media screen and (min-width: 768px){
    .header__lang-link{
        width: 30px;
        padding: 18px 0px 6px;
        font-size: 24px;
        line-height: 28px;
    }
}