.lead__subtitle{
    margin: 0 auto;
    max-width: 268px;  
    padding: 16px 0px 40px;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
}

@media screen and (min-width: 768px){
    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
        max-width: 640px;   
    }
}