.place__image{
    padding: 0px 0px 32px;
    min-width: 320px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center; 

    justify-content:space-between;
    justify-items: start;
    align-content: space-between;
    align-items:start;
}